/* VT323 400 */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* Major Mono Display 400 */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=VT323&display=swap');
/* Courier Prime 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

:root {
  --pb-primary: #ffcc4d;
  --pb-success: limegreen;
  --pb-error: #EF5B5B;
  --pb-main-grey: #333;
  --pb-sub-grey: #303030;
  --pb-dim-grey: dimgrey;
  --pb-white: beige;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: var(--pb-main-grey);
  font-family: 'Courier Prime', monospace;
}

.primaryBtn {
  width: 125px;
  height: 60px;
  background: #000;
  color: var(--pb-primary);
  font-family: 'Courier Prime', monospace;
  font-size: 1.1rem;
  border: 1px solid var(--pb-primary);
  border-radius: 50px;
  box-shadow: 0 5px #000;
  align-self: center;
}

.primaryBtn:hover {
  cursor: pointer;
  background-color: var(--pb-primary);
  border: 1px solid #000;
  color: #000;
}

.alternateBtn {
  width: 300px;
  height: 400px;
  background: #252525;
  color: var(--pb-primary);
  font-family: 'Courier Prime', monospace;
  font-size: 1.5rem;
  border: 1px solid var(--pb-primary);
  border-radius: 50px;
  box-shadow: 0 5px #000;
  align-self: center;
}

.alternateBtn:hover {
  cursor: pointer;
  background-color: var(--pb-sub-grey);
  border: 1px solid var(--pb-white);
  color: var(--pb-white);
}